body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E7F6FF;
}

* {
  margin: 0;
}

.wrapper {
  max-width: 1080px;
  background-color: #fff;
  border-radius: 20px;
  margin: 85px auto;
}

header {
  padding: 45px;
  border-bottom: 1px solid #EAEAEA;

  h3 {
    font-size: 20px;
    margin: 0;
  }

  p {
    margin: 0;
  }

  ul {
    li {
      line-height: 0;

      span {
        font-size: 14px;
      }
    }
  }
}

.content {
  h1 {
    margin: 0;
  }
}

.search {
  width: 250px;
  border: 1px solid #F3F3F3;
  padding: 15px;
  border-radius: 10px;

  input {
    border: 0;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
  }
}

.card {
  width: 210px;
  padding: 30px;
  border: 1px solid #F3F3F3;
  border-radius: 40px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

  p {
    font-size: 14px;
  }

  span {
    color: #BDBDBD;
    font-size: 11px;
  }

  b {
    font-size: 14px;
  }

  &:hover {
    box-shadow: 0 14px 30px rgba(0, 0, 0, 0.05);
    transform: translateY(-5px);
  }

  .favorite {
    position: absolute;
    cursor: pointer;
  }

  button {
    background-color: #fff;
    border: 0;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    cursor: pointer;
  }
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.drawer {
  position: absolute;
  right: 0;
  width: 385px;
  background-color: #fff;
  height: 100%;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  z-index: 1;
  padding: 30px;

  h2 {
    font-size: 24px;
    margin: 0;
  }

  .items {
    flex: 1;
    overflow: auto;
    margin-bottom: 20px;
  }
}

.headerCart {
  img {
    cursor: pointer;
  }
}

.cartTotalBlock {
  li {
    align-items: end;
  }

  div {
    border-bottom: 1px dashed #DFDFDF;
    margin: 0 10px;
    position: relative;
    top: -4px;
  }

  .greenBtn {
    position: relative;

    &:hover {
      img {
        transform: translateX(5px);
      }
    }

    img {
      position: absolute;
      right: 30px;
      top: 21px;
      transition: transform 0.2s ease-in-out;
    }
  }
}

.greenBtn {
  width: 100%;
  height: 55px;
  background: #9DD558;
  border-radius: 18px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: background 0.2s ease-in-out;

  &:hover {
    background: lighten(#9DD558, 5%);
  }

  &:active {
    background: darken(#9DD558, 5%);
  }
}

.cartItem {
  padding: 20px;
  border: 1px solid #F3F3F3;
  border-radius: 20px;
  overflow: hidden;

  p {
    font-size: 14px;
  }

  b {
    font-size: 14px;
  }

  .removeBtn {
    opacity: 0.5;
    transition: opacity 0.2ms ease-in-out;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}